@font-face {
    font-family: "Quite";
    src: url("fonts/Quite Magical - TTF.ttf");
}

body {
    /* background-image: radial-gradient(circle at center, rgb(226, 231, 248), rgb(255, 255, 255)); */
    background-image: url('images/bg.png');
    background-repeat: repeat;
    background-size: auto;
    backdrop-filter: blur(1px);
}

.card {
    padding: 0;
}

.banner {
    background-image: url('https://place-hold.it/900x350');
    min-height: 350px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.logo-startup {
    background-image: url('./images/start-up.jpg');
    /* background-size: 400px 400px; */
    background-size: contain;
    min-width: 400px;
    min-height: 400px;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 50px 0 50px 0;
}

.titre-section {
    margin-top: 5px;
    padding: 0 0 0 15px;
    border-left: 3px #007bff solid;
    background-color: rgb(187, 233, 247);
}

.logoPSE {
    width: 50px;
    background-image: url('./images/logoPSE.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.logoSEN {
    width: 50px;
    background-image: url('./images/Flag_of_Senegal.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.redir {
    /* border: #007bff 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.redir .inscr {
    border: #007bff 1px solid;
    grid-column: 1;
    height: 250px;
    width: 250px;
    border-radius: 50px 0 50px 0;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffffd3;
    cursor: pointer;
}

.redir .conx {
    border: #007bff 1px solid;
    grid-column: 2;
    height: 250px;
    width: 250px;
    border-radius: 0 50px 0 50px;
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffffd3;
    cursor: pointer;
}

.redir div .titre {
    text-decoration: none;
    font-size: 3.2em;
    font-family: "Quite";
}

.redir div .descrip {
    font-size: 1.4em;
    font-family: "Quite";
}

.redir div:hover {
    transition: all linear 0.2s;
}

.redir div:hover {
    background-color: #007bff50;
}